<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>Login</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>

    <div class="container login-container">

        <h1>Đăng nhập</h1>

        <div th:if="${param.error}">
            Sai username hoặc password.
        </div>

        <div th:if="${param.logout}">
            Bạn đã đăng xuất.
        </div>

        <form th:action="@{/login}" method="post">

            <label>
                Username
            </label>

            <input type="text" name="username" required>

            <label>
                Password
            </label>

            <input type="password" name="password" required>

            <button type="submit">
                Login
            </button>

        </form>

    </div>

</body>

</html>